.video{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.video-content{
    width: 100%;
    height: 100%;
    object-fit: cover;/* 用于视频等比填充 */
}
.video-controls{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,1);
}
.video-progress{
    position: relative;
    height: 5px;
    background-color: #222223;
}
.video-progress-now{
    position: absolute;
    left:0;
    width: 50%;
    height: 100%;
    background-color: #ff6a03;
    z-index: 1;
}
.video-progress-suc{
    position: absolute;
    left:0;
    width: 70%;
    height: 100%;
    background-color: #666;
}
.video-progress-bar{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    margin:-4px 0 0 -7px;
    z-index: 2;

}
.video-play{
    float: left;
    height: 45px;
    line-height: 45px;
    margin-left: 35px;
}
.video-play i{
    font-size: 20px;color:white;
}
.video-time{
    float: left;
    height: 45px;
    line-height: 45px;
    margin-left: 30px;
    color:white;
}
.video-full{
    float: right;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;

}
.video-full i{
    font-size: 20px;color:white;
}
.video-volume{
    float: right;
    height: 45px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.video-volume i{
    font-size: 20px; margin-right: 14px;color:white;
}
.video-volprogress{
    width: 100px;
    height: 5px;
    background:#222223;
    position: relative;
}
.video-volprogress-now{
    width: 50%;
    height: 100%;
    background-color: #ff6a03;
}
.video-volprogress-bar{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    margin:-4px 0 0 -7px;
    z-index: 2;
}
.video i {
    cursor: pointer;
}
